*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
ul li {
    display: inline;
}

.header{
    float: right;
    margin: 1rem;
    text-align: center;
}

.link {
    
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

#menu {
    margin-top: 0.5rem;
}

.button{
    padding: .7rem;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-left: .3rem;
}